@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #242e34;
}

textarea, input {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}